body {
    background-color: black;
    margin: 0 auto;
   
}

.relogio {
    position: absolute;
    letter-spacing: 5px;
    top: calc(50% - 60px);
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    font-family: "Gill Sans Extrabold, sans-serif;";
    color: #00FF00	;
    width: 100%;

}

.display-hora {

}

.display-turno {
    font-size: 40px;
}